# Tesla Stock Market prediction based on Elon Musk Tweet Interaction

In [1]:
import pandas as pd
from pandas import DataFrame
import matplotlib.pyplot as plt

In [3]:
tesla_stock_data = pd.read_csv("TSLA.csv")
elon_tweets_data = pd.read_csv("TweetsElonMusk.csv")

## Describing Datasets

### Tesla Data

In [6]:
tesla_stock_data.describe()

,Open,High,Low,Close,Adj Close,Volume
count,2956.000000,2956.000000,2956.000000,2956.000000,2956.000000,2.956000e+03
mean,138.691296,141.771603,135.425953,138.762183,138.762183,3.131449e+07
std,250.044839,255.863239,243.774157,250.123115,250.123115,2.798383e+07
min,3.228000,3.326000,2.996000,3.160000,3.160000,5.925000e+05
25%,19.627000,20.402000,19.127500,19.615000,19.615000,1.310288e+07
50%,46.656999,47.487001,45.820002,46.545000,46.545000,2.488680e+07
75%,68.057001,69.357500,66.911501,68.103998,68.103998,3.973875e+07
max,1234.410034,1243.489990,1217.000000,1229.910034,1229.910034,3.046940e+08

### Elon Musk Data

In [7]:
elon_tweets_data.describe()

,id,conversation_id,timezone,user_id,place,replies_count,retweets_count,likes_count,video,near,geo,source,user_rt_id,user_rt,retweet_id,retweet_date,translate,trans_src,trans_dest
count,1.256200e+04,1.256200e+04,12562.0,12562.0,0.0,12562.000000,12562.000000,1.256200e+04,12562.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,1.049919e+18,1.047490e+18,300.0,44196397.0,NaN,679.370005,2256.727193,2.147006e+04,0.063047,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,2.761981e+17,2.783202e+17,0.0,0.0,NaN,2453.853763,9793.382524,6.727787e+04,0.243058,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.543473e+10,1.659576e+09,300.0,44196397.0,NaN,0.000000,0.000000,2.000000e+00,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,9.444958e+17,9.413883e+17,300.0,44196397.0,NaN,45.000000,45.000000,8.790000e+02,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,1.117568e+18,1.117117e+18,300.0,44196397.0,NaN,113.000000,144.500000,2.439500e+03,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.255896e+18,1.254922e+18,300.0,44196397.0,NaN,373.000000,847.750000,1.128250e+04,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1.383296e+18,1.383296e+18,300.0,44196397.0,NaN,61349.000000,361461.000000,1.593425e+06,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Combine Datasets and Refine

In [10]:
refined_elon = DataFrame(elon_tweets_data, columns=['replies_count', 'retweets_count', 'likes_count', 'date'])
refined_tesla_stock = DataFrame(tesla_stock_data, columns=['High', 'Low', 'Date'])